<%= form_with(model: @tweet, local: true ,url: choose_new_or_edit) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>　</p>
  <p><%= form.label "本文" %>
    <%= form.text_field :content %></p>
  <p>　</p>
  <p><%= form.submit "投稿する", class: "btn btn-info" %></p>
  <p>　</p>
<% end %>
