<!DOCTYPE html>
<html>
  <head>
    <title>Twapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
                <span class="sr-only">Twapp</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Twapp

                </a>
            </div>
            <div id="gnavi" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to "ツイート一覧", tweets_path %></li>
                <li><%= link_to "新規投稿", new_tweet_path %></li>
              </ul>
              <div class="navbar-right">
                <% if logged_in? %>
                  <p class="navbar-text">ようこそ <%= link_to current_user.name, user_path(current_user.id) %> さん。</p>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></button>
                <% else %>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ユーザ登録", new_user_path %></button>
                  <button type="button" class="btn btn-default navbar-btn"><%= link_to "ログイン", new_session_path %></button>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="img-responsive top-image jumbotron">
        <h1>つぶやきアプリ　　</h1>
        <h2>自由につぶやく。そんなアプリ。</h2>
      </div>
      <div class="row">
          <!-- left -->
          <div class="col-md-3">
              <!-- パネルで囲む -->
              <div class="panel panel-default">
                  <div class="panel-heading">
                      Menu
                  </div>
                  <!-- 敢えてbodyを作らないことで、メニューを詰める -->
                  <!-- <div class="panel-body"> -->
                  <ul class="nav nav-pills nav-stacked">
                      <% if logged_in? %>
                        <li>
                          <%= link_to user_path(current_user.id) do %>
                            <i class="glyphicon glyphicon-user"></i> マイページ
                          <% end %>
                        </li>
                      <% else %>
                        <li>
                          <%= link_to new_user_path do %>
                            <i class="glyphicon glyphicon-ok-sign"></i> ユーザ登録
                          <% end %>
                        </li>
                        <li>
                          <%= link_to new_session_path do %>
                            <i class="glyphicon glyphicon-log-in"></i> ログイン
                          <% end %>
                        </li>
                      <% end %>
                      <li>
                        <%= link_to tweets_path do %>
                          <i class="glyphicon glyphicon-list-alt"></i> ツイート一覧
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_tweet_path do %>
                          <i class="glyphicon glyphicon-pencil"></i> 新規投稿
                        <% end %>
                      </li>
                      <% if logged_in? %>
                        <li>
                          <%= link_to session_path(current_user.id), method: :delete do %>
                            <i class="glyphicon glyphicon-log-out"></i> ログアウト
                          <% end %>
                        </li>
                      <% end %>
                  </ul>
                  <!-- </div> -->
              </div>
          </div>

          <!-- center -->
          <article class="col-md-9">
            <div class="panel panel-default">
              <!-- <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "#{key}") %>
              <% end %> -->
              <%= yield %>
            </div>
          </article>

      </div>

      <footer class="footer">
        <p>Created by Hisashi Sawada - PHASE2 Application</p>
      </footer>
    </div>
  </body>
</html>
